{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
{{ data['facility-2-name'] }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "/version1/includes/head.html" %}
  <div class="moj-header__container">
    {% include "/includes/phase-banner.html" %}
  </div>
  {% include "/version1/includes/primary-nav-nothing-selected.html" %}
{% endblock %}

{% block beforeContent %}
<!--<a class="govuk-back-link" href="/version1/facilities">Back</a>-->
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        {{ data['facility-2-name'] }}
      </h1>
  
      <h2 class="govuk-heading-m">Overview</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        
  
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Product
          </dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half">
            General export facility (GEF)
          </dd>
        </div>
        
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['facility-2-type'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
    
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Facility description
            </dt>
            <dd class="govuk-summary-list__value">
              Guarantee
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Bank reference
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['facility-2-ref'] }}
          </dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            UKEF facility ID
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['facility-2-ukef-id'] }}
          </dd>
        </div>
  
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Facility base currency
          </dt>
          <dd class="govuk-summary-list__value">
            GBP
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        
        </dl>
  
        <h2 class="govuk-heading-m">Value and exposure</h2>
        <p class="govuk-body">Correct as of {{ data['todays-date'] }}</p>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Value (export currency)
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              GBP {{ data['facility-2-limit'] }}
            </dd>
            
          </div>
    
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              UKEF cover
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['facility-2-cover'] }}
            </dd>
          </div>
    
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Maximum UKEF exposure
            </dt>
            <dd class="govuk-summary-list__value">
              GBP {{ data['facility-2-max'] }}
            </dd>
          </div>
        </dl> 

  
  
      <!-- Last months report - no chqange links. Display when report is due -->
      <h2 class="govuk-heading-m">Utilisation and fees</h2>
      <p class="govuk-body">Reported amounts for month-end {{ data['end-previous-month'] }}</p>
  
      <!--<p class="govuk-body $govuk-secondary-text-colour">Updated by {{ data['signed-in-name'] }}, {{ data['1-month-ago'] }}</p>-->
  
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Facility utilisation
          </dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half">
            GBP {{ data['facility-2-utilisation'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            UKEF exposure
          </dt>
          <dd class="govuk-summary-list__value">
            GBP {{ data['facility-2-exposure'] }}
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Fee paid to UKEF
          </dt>
          <dd class="govuk-summary-list__value">
            GBP {{ data['facility-2-paid'] }} 
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Fees accrued
          </dt>
          <dd class="govuk-summary-list__value">
            GBP {{ data['facility-2-accrued'] }} 
          </dd>

        </div>
      </dl>
  
      <h2 class="govuk-heading-m">Dates</h2>
      <p class="govuk-body">Correct as of {{ data['todays-date'] }}</p>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Cover start date
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              {{ data['facility-2-start-date'] }}
            </dd>
            
          </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Cover end date
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['facility-2-end-date'] }}
          </dd>
          
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Tenor
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['facility-2-tenor'] }}
            </dd>
            
          </div>
        </dl>
    
  
    </div>
  </div>
  

{% endblock %}
