{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
  Facilities – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "/version1/includes/head.html" %}
  <div class="moj-header__container">
    {% include "/includes/phase-banner.html" %}
  </div>
  {% include "/version1/includes/primary-nav-index-selected.html" %}
{% endblock %}

{% block pageScripts %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block beforeContent %}
  
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    

  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Facility reporting</h1>

    <article class="moj-ticket-panel govuk-!-margin-bottom-8" aria-label="Sub navigation 1">

        <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
    <h2 class="govuk-heading-m">{{ data['report-month'] }} report is due</h2>
    <p class="govuk-body">Facilities must be updated and submitted to UKEF by {{ data['this-month-report-due'] }} using the UKEF {{ data['report-month'] }} template.</p>
    <button class="govuk-button" data-module="govuk-button">
      Download {{ data['report-month'] }} template
    </button>

</section>

</article>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Issued facilities</h2>

    <table class="govuk-table" data-module="moj-sortable-table">
      <caption class="govuk-table__caption govuk-table__caption--l"></caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="none">Bank reference</th>
          <th scope="col" class="govuk-table__header" aria-sort="ascending">UKEF facility ID</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Exporter</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Product type</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Product description</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Value (export currency)</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Cover end date</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" data-sort-value="{{ data['facility-1-ref'] }}"><a href="facility1">{{ data['facility-1-ref'] }}</a></td>
          <td class="govuk-table__cell">{{ data['facility-1-ukef-id'] }}</td>
          <td class="govuk-table__cell">{{ data['facility-1-name'] }}</td>
          <td class="govuk-table__cell">{{ data['facility-1-type-short'] }}</td>
          <td class="govuk-table__cell">{{ data['facility-1-description'] }}</td>
          <td class="govuk-table__cell" data-sort-value="">{{ data['facility-1-base-currency'] }} {{ data['facility-1-limit'] }}</td>
          <td class="govuk-table__cell" data-sort-value="400000">{{ data['facility-1-end-date-short'] }}</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell" data-sort-value="{{ data['facility-2-ref'] }}"><a href="facility2">{{ data['facility-2-ref'] }}</a></td>
          <td class="govuk-table__cell">{{ data['facility-2-ukef-id'] }}</td>
          <td class="govuk-table__cell">{{ data['facility-2-name'] }}</td>
          <td class="govuk-table__cell">{{ data['facility-2-type-short'] }}</td>
          <td class="govuk-table__cell">{{ data['facility-2-description'] }}</td>
          <td class="govuk-table__cell" data-sort-value="">{{ data['facility-2-base-currency'] }} {{ data['facility-2-limit'] }}</td>
          <td class="govuk-table__cell" data-sort-value="400000">{{ data['facility-2-end-date-short'] }}</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell" data-sort-value="{{ data['facility-4-ref'] }}"><a href="facility4">{{ data['facility-4-ref'] }}</a></td>
          <td class="govuk-table__cell">{{ data['facility-4-ukef-id'] }}</td>
          <td class="govuk-table__cell">{{ data['facility-4-name'] }}</td>
          <td class="govuk-table__cell">{{ data['facility-4-type-short'] }}</td>
          <td class="govuk-table__cell">{{ data['facility-4-description'] }}</td>
          <td class="govuk-table__cell" data-sort-value="">{{ data['facility-4-base-currency'] }} {{ data['facility-4-limit'] }}</td>
          <td class="govuk-table__cell" data-sort-value="400000">{{ data['facility-4-end-date-short'] }}</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell" data-sort-value="{{ data['facility-5-ref'] }}"><a href="facility5">{{ data['facility-5-ref'] }}</a></td>
          <td class="govuk-table__cell">{{ data['facility-5-ukef-id'] }}</td>
          <td class="govuk-table__cell">{{ data['facility-5-name'] }}</td>
          <td class="govuk-table__cell">{{ data['facility-5-type-short'] }}</td>
          <td class="govuk-table__cell">{{ data['facility-5-description'] }}</td>
          <td class="govuk-table__cell" data-sort-value="">{{ data['facility-5-base-currency'] }} {{ data['facility-5-limit'] }}</td>
          <td class="govuk-table__cell" data-sort-value="400000">{{ data['facility-5-end-date-short'] }}</td>
        </tr>
      </tbody>
    </table>
    
  </div>      

</div>

{% endblock %}
