{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
  Upload report – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "/version1/includes/head.html" %}
  <div class="moj-header__container">
    {% include "/includes/phase-banner.html" %}
  </div>
  {% include "/version1/includes/primary-nav-upload-selected.html" %}
{% endblock %}

{% block pageScripts %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block beforeContent %}
  
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">

      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="event-name">
         Upload report
        </label>
      </h1>

      {% if 'false' in data['report-uploaded'] %}  
      <!-- 1st visit to page show report due / download information -->
      <div class="govuk-form-group">
        <p class="govuk-body">You must use the UKEF <a class="govuk-link" href="index">{{ data['report-month'] }} template</a>.</p>
          
        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file" aria-describedby="file-upload-1-hint">
      </div>
      <div class="govuk-form-group">
      <form class="form" action="problem" method="get">
        {{ govukButton({
            text: "Continue"
          }) }}
          <input type="hidden" name="report-uploaded" value="true">
      </form>
    </div>
    
    {% elif 'true' in data['report-uploaded'] %}
    <!-- 2nd visit to page send user to confirmation page -->
    <div class="govuk-form-group">
      <p class="govuk-body">You must use the UKEF <a class="govuk-link" href="index">{{ data['report-month'] }} template</a>.</p>
        
      <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file" aria-describedby="file-upload-1-hint">
    </div>
    <div class="govuk-form-group">
    <form class="form" action="check-filename-only" method="get">
      {{ govukButton({
          text: "Continue"
        }) }}
        <input type="hidden" name="report-uploaded" value="success">
    </form>
  </div>

    {% elif 'success' in data['report-uploaded'] %}
    <!-- Report has been submitted - show different info -->
    <p class="govuk-body">{{ data['report-month'] }} report has already been submitted.</p>
    <p class="govuk-body">Contact the UKEF team: <a href="#" class="govuk-link--no-visited-state">{{ data['stb-email'] }}</a>.</p> 
    {% endif %}

</div>

{% endblock %}
