{% extends "layouts/main.html" %}

{% block pageTitle %}
Bank uploading csv home – UK Export Finance – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "/includes/head-index.html" %}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: ''
  }) }}
  {% endblock %}  


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Bank csv upload</h1>
    <h2 class="govuk-heading-m">Version 1</h2>
    <p class="govuk-body govuk-!-font-size-19"><a href="/version1/upload-only/sign-in" class="govuk-link govuk-link--no-visited-state">Upload only</a></p>
    <p class="govuk-body govuk-!-font-size-19"><a href="/version1/sign-in" class="govuk-link govuk-link--no-visited-state">Download and upload on separate screens</a></p>
    <p class="govuk-body govuk-!-font-size-19"><a href="/version1/single-screen/sign-in" class="govuk-link govuk-link--no-visited-state">Download and upload on a single screen</a></p>


    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    
    
    <!--<h2 class="govuk-heading-m"><a href="/version2/facility-list.html" class="govuk-link govuk-link--no-visited-state">Version 2</a></h2>  
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">-->
    <p class="govuk-body govuk-!-font-size-19">*Use the <span class="govuk-!-font-weight-bold">Clear data</span> link in the footer to reset between sessions.</p>

    <!--{% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}-->
  </div>
</div>

{% endblock %}
