{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
  Confirmation – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "/version1/includes/head.html" %}
  <div class="moj-header__container">
    {% include "/includes/phase-banner.html" %}
  </div>
  {% include "/version1/upload-only/includes/primary-nav-nothing-selected.html" %}
{% endblock %}

{% block pageScripts %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block beforeContent %}
  
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
  
      <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Check report</h1>
      <h2 class="govuk-heading-m">
        {{ data['report-month'] }} report
      </h2> 
  
      <!--<p>{{ data['todays-date'] }} at 9:56am</p>-->
      <!--data-module="moj-sortable-table"-->
      <table class="govuk-table govuk-body-s">
        <caption class="govuk-table__caption govuk-table__caption--l"></caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" aria-sort="none">Payment reference</th>
            <th scope="col" class="govuk-table__header" aria-sort="ascending">UKEF facility ID</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Exporter name</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Facility currency</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Facility utilisation</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Fees accrued</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Fee paid</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-1-ref'] }}">{{ data['facility-1-ref'] }}</td>
            <td class="govuk-table__cell">{{ data['facility-1-ukef-id'] }}</td>
            <td class="govuk-table__cell">{{ data['facility-1-name'] }}</td>
            <td class="govuk-table__cell" data-sort-value="">{{ data['facility-1-base-currency'] }}</td>
            <td class="govuk-table__cell" data-sort-value="400000">{{ data['facility-1-utilisation'] }}</td>
            <td class="govuk-table__cell" data-sort-value="10000">{{ data['facility-1-accrued'] }} </td>
            <td class="govuk-table__cell" data-sort-value="1000">{{ data['facility-1-fee-currency'] }} {{ data['facility-1-paid'] }} </td>
          </tr>
  
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-2-ref'] }}">{{ data['facility-2-ref'] }}</td>
            <td class="govuk-table__cell">{{ data['facility-2-ukef-id'] }}</td>
            <td class="govuk-table__cell">{{ data['facility-2-name'] }}</td>
            <td class="govuk-table__cell" data-sort-value="">{{ data['facility-2-base-currency'] }}</td>
            <td class="govuk-table__cell" data-sort-value="400000">{{ data['facility-2-utilisation'] }}</td>
            <td class="govuk-table__cell" data-sort-value="10000">{{ data['facility-2-accrued'] }} </td>
            <td class="govuk-table__cell" data-sort-value="1000">{{ data['facility-2-fee-currency'] }} {{ data['facility-2-paid'] }} </td>
          </tr>
  
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-4-ref'] }}">{{ data['facility-4-ref'] }}</td>
            <td class="govuk-table__cell">{{ data['facility-4-ukef-id'] }}</td>
            <td class="govuk-table__cell">{{ data['facility-4-name'] }}</td>
            <td class="govuk-table__cell" data-sort-value="">{{ data['facility-4-base-currency'] }}</td>
            <td class="govuk-table__cell" data-sort-value="400000">{{ data['facility-4-utilisation'] }}</td>
            <td class="govuk-table__cell" data-sort-value="10000">{{ data['facility-4-accrued'] }} </td>
            <td class="govuk-table__cell" data-sort-value="1000">{{ data['facility-4-fee-currency'] }} {{ data['facility-4-paid'] }} </td>
          </tr>
  
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="{{ data['facility-5-ref'] }}">{{ data['facility-5-ref'] }}</td>
            <td class="govuk-table__cell">{{ data['facility-5-ukef-id'] }}</td>
            <td class="govuk-table__cell">{{ data['facility-5-name'] }}</td>
            <td class="govuk-table__cell" data-sort-value="">{{ data['facility-5-base-currency'] }}</td>
            <td class="govuk-table__cell" data-sort-value="400000">{{ data['facility-5-utilisation'] }}</td>
            <td class="govuk-table__cell" data-sort-value="10000">{{ data['facility-5-accrued'] }} </td>
            <td class="govuk-table__cell" data-sort-value="1000">{{ data['facility-5-fee-currency'] }} {{ data['facility-5-paid'] }} </td>
          </tr>
        </tbody>
        <tfoot>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-text-align-right" colspan="6">Total fees paid</th>
            <td class="govuk-table__cell govuk-!-font-weight-bold">GBP 3,000.00<br>EUR 5,800.00</td>
          </tr>
        </tfoot>
      </table>
      <p class="govuk-body">UKEF-facility-report-May-2023.xlsx</p>
      
        <form class="form" action="confirmation" method="post">
          <input type="hidden" name="report-uploaded" value="success">
  
          <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
      
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      
            Is this the correct report?
      
          </legend>
      
          <div class="govuk-radios" data-module="govuk-radios">
      
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="yes" name="check" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="yes">
                Yes, I want to submit this report
              </label>
      
            </div>
      
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="no" name="check" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="no">
                No, I want to upload the report again
              </label>
      
            </div>
      
          </div>
         
  
        </fieldset>
      </div>
        
      {{ govukButton({
        text: "Continue"
      }) }}
      
      </form>
  
  </div>


{% endblock %}
